table{
    width: 750px;
    
}

table, th, td{
    border: 1px solid black;
}

*{
    margin: 10px;
}

#para{
    margin: 0;
    padding: 10px;
    border: solid 5px aquamarine;
    background-color: black;
    color: aquamarine;
    width: 750px;
}

h1{
    color: aquamarine;
    background-color: black;
    
}
.text{
    text-align: center;
}
    
